.addEntryForm {
    display: block;
    position: relative;
    max-width: 90%;
    margin: 0 auto;
}

.gridContainer {
    margin-top: 5rem;
    display: grid;
    grid: 1fr 1fr / 1fr 1fr ;
    column-gap: 1rem;
    row-gap: 1rem;
}

.selectGridItem {
    width: 100%;
}

.categorySelect {
    width: 100%;
}

.titleTextField {
    grid-column: 1 / span 1;
}

.isExpenseCheckBox {
    grid-column: 1 / span 1;
    border: rgba(0, 0, 0, 0.23) 1px solid;
    border-radius: 4px;
    margin-left: 0;
    margin-right: 0;
}

.amountTextField {

}