.appBar {
    position: fixed;
    z-index: 1400;
}

.username {
    margin-right: 1rem;
}

.appName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menuIcon {
    @media (max-width: 599px) {
        visibility: hidden;
    }
}