.categoriesManager {
    display: block;
    align-items: center;
    margin: 4rem auto 1rem;
    width: 100%;
}

.newCategory {
    margin: 1rem auto 1rem;
    width: fit-content;
    padding-right: 2.5rem;
}

.textField {
  min-width: 20rem;
}